body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

label {
  display: inline-block;
  width: 100px;
  text-align: right;
  margin-right: 10px;
}